<div id="gameArea">
    <!-- This is where the templates defined below will be used -->
</div>


<!-- Main Title Screen that appears when the page loads for the first time -->
<script id="intro-screen-template" type="text/template">

    <div class="titleWrapper">

        <div class="title">
            RPG GAME
        </div>

        <div class="buttons">
            <button id="btnCreateGame" class="btn left">CREATE</button>
            <button id="btnJoinGame" class="btn right">JOIN</button>
            <div style="clear:both"></div>
        </div>

    </div>

</script>

<!-- This screen appears when a user clicks "CREATE" on the Title Screen -->
<script id="create-game-template" type="text/template">
    <div class="createGameWrapper">
        <div class="info">
            <label for="inputPlayerName">Your Name:</label>
            <input id="inputPlayerName" type="text" />
        </div>

        <div class="info buttons">
            <button id="btnCreate" class="btn">Create</button>
            <div id="playerWaitingMessage"></div>
        </div>
    </div>
</script>


<!-- This screen appears when a user clicks "CREATE" on the Title Screen -->
<script id="wait-game-template" type="text/template">
    <div class="waitGameWrapper">

        <div class="info">Open this site on your mobile device:</div>
        <div id="gameURL" class="infoBig">Error!</div>

        <div class="info">Then click <strong>JOIN</strong> and <br/> enter the following Game ID:</div>
        <div id="spanNewGameCode" class="gameId">Error!</div>

        <div class="info">Players:</div>
        <div id="playersWaiting"></div>
    </div>
</script>

<!-- This scrreen appears when a player clicks "JOIN" on the Title Screen -->
<script id="join-game-template" type="text/template">
    <div class="joinGameWrapper">
        <div class="info">
            <label for="inputPlayerName">Your Name:</label>
            <input id="inputPlayerName" type="text" />
        </div>

        <div class="info">
            <label for="inputGameId">Game ID:</label>
            <input id="inputGameId" type="text"/>
        </div>

        <div class="info buttons">
            <button id="btnStart" class="btn">Start</button>
            <div id="playerWaitingMessage"></div>
        </div>
    </div>
</script>

<!-- This is the 'Host' screen. It displays the word for each player to match -->
<script id="count-template" type="text/template">
    <div id="wordArea">
        <div id="hostWord">5</div>
    </div>
</script>


<!-- This is the 'Game' screen. It displays the game area for players -->
<script id="game-template" type="text/template">
    <div oncontextmenu="return false;" id="main">
        <div id="viewscreen">
            <div class="row">

                <div class="col-md-3">
                    <div class="opponent">
                        <div class="opponent_statusbar">
                            <div class="" id="totalopponenthpbar"><div  id="opponenthpbar">200 / 200</div></div>
                            <div class="" id="totalopponentmanabar"><div  id="opponentmanabar">100 / 100</div></div>
                            <div class="opponent_buffs">
                                <div class="buffslot burn">
                                </div>
                                <div class="buffslot pain">
                                </div>
                                <div class="buffslot haste">
                                </div>
                                <div class="buffslot heal">
                                </div>
                            </div>
                        </div>
                        <div class="opponent_img">
                            <img class="mobsprites boss3 selected">
                        </div>
                        <div class="opponent_name">
                            <p>Player 1</p>
                        </div>
                        <div class="opponent_spells">
                            <div class="slot">
                                <img class="spellsprite"></img>
                            </div>
                            <div class="slot">
                                <img class="spellsprite"></img>
                            </div>
                            <div class="slot">
                                <img class="spellsprite"></img>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">

                    <div class="battlefield">
                        <div class="opponent_battlefield">
                            <div class="opponent_battlecell">
                                <div class="summon">
                                    <div class="summon_img">
                                        <div class="summonhpbar">20 / 20</div>
                                        <img class="mobsprites boss9">
                                    </div>
                                    <div class="summon_buffs">
                                        <div class="summonbuffslot burn">
                                        </div>
                                        <div class="summonbuffslot pain">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="opponent_battlecell border">
                                <div class="summon">
                                    <div class="summon_img">
                                        <div class="summonhpbar">20 / 20</div>
                                        <img class="mobsprites boss9">
                                    </div>
                                    <div class="summon_buffs">
                                        <div class="summonbuffslot burn">
                                        </div>
                                        <div class="summonbuffslot pain">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="opponent_battlecell">
                                <div class="summon">
                                    <div class="summon_img">
                                        <div class="summonhpbar">20 / 20</div>
                                        <img class="mobsprites boss9">
                                    </div>
                                    <div class="summon_buffs">
                                        <div class="summonbuffslot burn">
                                        </div>
                                        <div class="summonbuffslot pain">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="player_battlefield">
                            <div class="player_battlecell" id="player_battlecell_1">
                                <div class="summon">
                                    <div class="summon_img">
                                        <div class="summonhpbar">20 / 20</div>
                                        <img class="mobsprites boss9">
                                    </div>
                                    <div class="summon_buffs">
                                        <div class="summonbuffslot burn">
                                        </div>
                                        <div class="summonbuffslot pain">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="player_battlecell border" id="player_battlecell_2">
                                <div class="summon">
                                    <div class="summon_img">
                                        <div class="summonhpbar">20 / 20</div>
                                        <img class="mobsprites boss9">
                                    </div>
                                    <div class="summon_buffs">
                                        <div class="summonbuffslot burn">
                                        </div>
                                        <div class="summonbuffslot pain">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="player_battlecell" id="player_battlecell_3">
                                <div class="summon">
                                    <div class="summon_img">
                                        <div class="summonhpbar">20 / 20</div>
                                        <img class="mobsprites boss9">
                                    </div>
                                    <div class="summon_buffs">
                                        <div class="summonbuffslot burn">
                                        </div>
                                        <div class="summonbuffslot pain">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div id="opponent_log" class="log"></div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="player">
                        <div class="" id="totalplayerhpbar"><div  id="playerhpbar"><span>150 / 200</span></div></div>
                        <div class="" id="totalplayermanabar"><div  id="playermanabar"><span>75 / 100</span></div></div>
                        <div class="player_buffs" id="player_buffs"></div>
                        <div class="player_img">
                            <img class="mobsprites boss1">
                        </div>
                        <div class="player_name">
                            <p>Player 0</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">

                    <div id="screen">

                        <div class="spell_cast">
                            <div class="spell_combo">
                                <div class="slot">
                                    <img class="spellsprite" id="0_spell"></img>
                                </div>
                                <div class="slot">
                                    <img class="spellsprite" id="1_spell"></img>
                                </div>
                                <!--<div class="slot">-->
                                    <!--<img class="spellsprite" id="2_spell"></img>-->
                                <!--</div>-->
                                <div class="spell_message">
                                    <p id="spell_status" class='faded'></p>
                                </div>
                            </div>

                            <div class="spell_combo_info">
                                <p id="spell_name"></p>
                                <p id="spell_type"></p>
                                <p id="spell_damage"></p>
                                <p id="spell_manacost"></p>
                            </div>

                            <div class="slot" style="float: right;">
                                <img id="spell_to_cast" class="spellsprite"></img>
                            </div>
                        </div>

                        <div class="spells">
                            <div class="spells_group_1">
                                <div class="spellslot">
                                    <p class="barnum">Q</p>
                                    <div id="bar1" class="">
                                        <img class="spellsprite spell1 sprite-Fire" id="spell1" data-class="sprite-Fire" data-spell="1"></img>
                                    </div>
                                </div>

                                <div class="spellslot">
                                    <p class="barnum">W</p>
                                    <div id="bar1" class="">
                                        <img class="spellsprite spell2 sprite-Ice" id="spell2" data-class="sprite-Ice" data-spell="2"></img>
                                    </div>
                                </div>

                                <div class="spellslot">
                                    <p class="barnum">E</p>
                                    <div id="bar1" class="">
                                        <img class="spellsprite spell3 sprite-Storm" data-class="sprite-Storm" id="spell3" data-spell="3"></img>
                                    </div>
                                </div>

                                <div class="spellslot">
                                    <p class="barnum">R</p>
                                    <div id="bar1" class="">
                                        <img class="spellsprite spell4 sprite-Nature" data-class="sprite-Nature" id="spell4" data-spell="4"></img>
                                    </div>
                                </div>
                            </div>

                            <div class="spells_group_2 pull-right">
                                <div class="spellslot">
                                    <p class="barnum">A</p>
                                    <div id="bar1" class="">
                                        <img class="spellsprite spell5 sprite-Cabal" id="spell5" data-class="sprite-Cabal" data-spell="5"></img>
                                    </div>
                                </div>

                                <div class="spellslot">
                                    <p class="barnum">S</p>
                                    <div id="bar1" class="">
                                        <img class="spellsprite spell6 sprite-Blood" id="spell6" data-class="sprite-Blood" data-spell="6"></img>
                                    </div>
                                </div>

                                <div class="spellslot">
                                    <p class="barnum">D</p>
                                    <div id="bar1" class="">
                                        <img class="spellsprite spell7 sprite-Weapon" id="spell7" data-class="sprite-Weapon" data-spell="7"></img>
                                    </div>
                                </div>

                                <div class="spellslot">
                                    <p class="barnum">F</p>
                                    <div id="bar1" class="">
                                        <img class="spellsprite spell8 sprite-Defence" id="spell8" data-class="sprite-Defence" data-spell="8"></img>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-3">
                    <div id="infolog" class="log"></div>
                </div>

            </div>
        </div>
    </div>
</script>
